#happy {
  cursor: url("../images/minecraft-sword.png"), auto;
}

div {
  font-weight: bold;
  font-size: xx-large;
  display: inline-block;
}

span {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 10px;
}

span[lang="zh"] {
  padding-inline: 90px;
}

span[lang="ja"] {
  padding-inline: 33px;
}

span[lang="pa"] {
  padding-inline: 75px;
}

span[lang="ko"] {
  padding-inline: 70px;
}

span[lang="ru"] {
  padding-inline: 37px;
}

span[lang="he"] {
  padding-inline: 142px;
}

.second {
  display: inline;
}

header {
  background-color: #57c752;
}

/*	Potential colors
	background-color: hsla(174, 77%, 31%, .9);
	background-color: hsl(360, 37%, 58%);

*/
body {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #ffc09b;
}

#description {
  inline-size: 500px;
}

p {
  font-family: "Raleway", sans-serif;
}

.tv {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAMAAACeyVWkAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAEZJREFUeAGt0EEKgDAUA1En9z+0qEENhA+FvlUZQqE9Bnynlmlr2iVkSY66AHrg+MddSUiU6VuxqMhYquzcCvO6PZjhx5oTQ+8Bs3EshqIAAAAASUVORK5CYII=),
    auto;
}

li {
  list-style-type: circle;
}
.image {
  display: inline-block;
}
a:visited {
  color: purple;
}

a:link {
  color: red;
}

a:hover {
  color: red;
  text-decoration: none;
}

body {
  display: block;
}
