/*text styles*/

html {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  color: #06031c;
}
h1 {
  font-size: 3.8rem;
}
header h1,
nav {
  margin-inline-start: 8px;
}
a {
  margin-inline: 2px;
  font-size: 2.4rem;
}

#welcome {
  width: 90vw;
  height: 82vh;
  color: #06031c;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container > span {
  height: 11vh;
  font-size: 11vh;
}

span[lang="ru"] {
  font-size: 9vh;
}
div {
  font-weight: bold;
  /*font-size: 8.1rem;*/
  font-size: 5vw;
  display: inline-block;
}

span {
  font-weight: bold;
  font-size: 5vw;
  /*font-size: 8rem;*/
  /*font-size: 33%;*/
  /*  margin-bottom: 10px;
*/
}

/*span[lang="zh"] {
  padding-inline: 90px;
}

span[lang="ja"] {
  padding-inline: 33px;
}

span[lang="pa"] {
  padding-inline: 75px;
}

span[lang="ko"] {
  padding-inline: 70px;
}
*/
/*span[lang="ru"] {*/
/*  !*padding-inline: 37px;*!*/
/*}*/

/*span[lang="he"] {
  padding-inline: 142px;
}*/

#description {
  font-size: 2.4rem;
}

#resume {
  font-family: serif;
  font-size: 1.6rem;
  margin-inline: 8px;
}

li {
  list-style-type: circle;
  width: 90vw;
}
.second {
  display: inline;
}
/* Link styles */

a:visited {
  color: purple;
}

a:link {
  /*color: ; TODO*/
}

a:hover {
  color: red;
  text-decoration: none;
  font-style: oblique;
}
a:active {
  color: firebrick;
}

/* body styles */

header {
  margin: -8px;
  width: 100vw;
  display: block;
  /*position: fixed;*/
  background: #d8b5a9;
}

/*	Potential colors
	background-color: hsla(174, 77%, 31%, .9);
	background-color: hsl(360, 37%, 58%);
    lightsalmon
*/
body {
  position: relative;
  width: 100vw;
  background-color: #e3c7b7;
}

/*.top {*/
/*  margin-block-start: 130px;*/
/*}*/
.image {
  display: block;
  width: 50vw;
}
